.container_message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5em;
    background-color: #dcf8c6;
    border-radius: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.container_message_message {
    margin: 0;
    padding: 0 0.5em;
    font-size: 1.2em;
    font-weight: 400;
    padding-right: 1em;
}

.container_date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: .5em 0;
}

.container_message_time {
    color: #666;
    margin: 0;
    align-self: flex-end;
    margin-bottom: -0.5em;
    font-size: 1em;
}